{% extends "_main.html" %}


{% block title %} Escape Trips | Slovakia{% endblock %}

{% block main %}
    {% if (articles) %}
        <ul class="clanky">
            {% for id, article in articles %}
            <li>
                <h2><a href="{{ url_for("view_slovakia_article", art_id = id) }}">{{ article.title }}</a></h2>
                <p>{{ article.content | truncate(100) }}</p>
            </li>
            {% endfor%}
        </ul>
    {% else %}
        <p>No articles :(</p>
    {% endif %}
{% endblock%}